#root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #22343d;
  background: #fff;
}
.display-7 {
  font-size: 18px;
}

.display-8 {
  font-size: 34px;
}

.mb-6 {
  margin-bottom: 95px;
}

.mb-7 {
  margin-bottom: 114px;
}

.image {
  width: 100%;
  height: auto;
}

.pl-6 {
  padding-left: 0;
}

.width {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .width {
    width: auto;
  }
}

@media screen and (min-width: 1199px) {
  .pl-6 {
    padding-left: 108px;
  }
}

.my-6 {
  margin-top: 64px;
  margin-bottom: 71px;
}

.fs-20 {
  font-size: 20px;
}

.px-6 {
  padding-left: 32px;
  padding-right: 32px;
}

.text-gray {
  color: #737373;
}

.text-dark-gray {
  color: #252b42;
}